* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box-1 {
    flex: 4.1;
    background-color: rgb(180, 180, 180);
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 3px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
}

.box-2 {
    flex: 0.9;
    background-color: rgb(27, 94, 32);
    border-radius: 5px;
    margin-right: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 100%;
}

.bottom-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.button {
    font-family: Arial, sans-serif;
    margin-top: 20px;
    background-color: white;
    color: black;
    border: none;
    height: 45px;
    width: 17vw;
    font-size: 18px;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid black;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    background-color: rgb(0, 148, 0);
    color: white;
    border-color: white;
}

.camera-feed {
    width: calc(100% - 20px);
    height: calc(100% - 80px);
    background-color: rgb(121, 121, 121);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.container {
    display: flex;
    height: 99vh;
    width: 100vw;
}

.input-id {
    width: 17vw;
    height: 30px;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 7px;
    border: 1px solid black;
    text-align: center;
    font-size: 16px;
}

.input-name {
    width: 17vw;
    height: 30px;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 5px;
    border-radius: 7px;
    border: 1px solid black;
    text-align: center;
    font-size: 16px;
}

.id-number {
    width: 17vw;
    height: 30px;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 7px;
    border: 1px solid black;

}

.normal-text {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: white;
    text-align: center;
}

.registered-image {
    width: 170px;
    height: 170px;
    background-color: white;
    margin-bottom: 30px;
    margin-top: 10px;
    border-radius: 3px;
    border: 1px solid black;
}

.student-name {
    width: 17vw;
    height: 30px;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 5px;
    border-radius: 7px;
    border: 1px solid black;
}

.student-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    align-items: center;
}

.start-btn {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgb(27, 94, 32);
    color: white;
    border: none;
    height: 60px;
    width: calc(100% - 20px);
    font-size: 25px;
    font-weight: bold;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.start-btn:hover {
    background-color: rgb(0, 148, 0);
}

.top-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}













